<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<br/>
<br/>
<br/>
<br/>
	<div class="col-md-4 col-md-offset-4 bg-info">
		<div>
			<p>Profile Detail</p>
		</div>
		<div>
			<center>
				<table class="table table-hover text-center">
					<tr><td>Name </td><td><%= name %></td></tr>
					<tr><td>Email </td><td><%= email %></td></tr>
					<tr><td>Mobile </td><td><%= mobile %></td></tr>
					<tr><td>Gender</td><td><%= gender %></td></tr>
					<tr><td>Dob </td><td><%= dob %></td></tr>

				</table>
			</center>
		</div>
		<br/>
		<div class="abc">
			<a href="/edit?id=<% "
			<a href="/logout">Logout</a>
			
		</div>
		<br/>
		
	</div>
</body>
</html>